<div class="hr_10"></div>
<footer>
    <div class="yb_cont footer">
        <div class="wrapper foot_cont">
            <div class="ihelp ya_hei">
                <dl>
                    <dt class="ihelp-safe">关于我们</dt>
                    <dd><a target="_blank" href="/aqbz">关于菜苗影视</a></dd>
                    <dd><a target="_blank" href="/flsm">联系方式</a></dd>
                    <dd><a target="_blank" href="/ysbh">招聘信息</a></dd>
                </dl>
                <dl>
                    <dt class="ihelp-safe">帮助中心</dt>
                    <dd><a target="_blank" href="/ywms">广告服务</a></dd>
                    <dd><a target="_blank" href="/xszn">意见或建议</a></dd>

                </dl>
                <dl class="nobd">
                    <dt class="ihelp-safe">联系我们</dt>
                    <dd><a target="_blank" href="/gwtd/index.html">菜苗影视</a></dd>
                    <dd><a target="_blank" href="/hzhb/index.html">联系方式</a></dd>
                    <dd><a target="_blank" href="/lxwm/index.html">招聘信息</a></dd>
                </dl>
                <dl class="nobd">
                    <dt class="ihelp-safe">客服服务</dt>
                    <dd><a target="_blank" href="/gwtd/index.html">菜苗影视</a></dd>
                    <dd><a target="_blank" href="/hzhb/index.html">联系方式</a></dd>
                    <dd><a target="_blank" href="/lxwm/index.html">招聘信息</a></dd>
                    <dd><a target="_blank" href="/lxwm/index.html">招聘信息</a></dd>
                </dl>

            </div>
            <div class="wechat ya_hei ">
                <dl>
                    <dt><img src="<?php echo TUrl::instance()->image('weibo.png'); ?>" alt="" /></dt>
                    <div class="hr_10"></div>
                    <dd><span style="color:#d63c3c">微博</span>二维码</dd>
                </dl>
                <dl class="ml_40">
                    <dt><img src="<?php echo TUrl::instance()->image('weixin.png'); ?>" alt="" /></dt>
                    <div class="hr_10"></div>
                    <dd><span style="color:#69ae2d">微信</span>二维码</dd>
                </dl>
            </div>
            <div class="hr_10"></div>
            <div class="clear"></div>
            <div class="copyright ya_hei">
                <div class="hr_30"></div>
                <p>版权所有：上海菜苗网络科技有限公司   广告热线/传真：021-62370801 </p>
                <p>上海市长宁区虹桥路1438号古北国际财富中心二期30层   信息产业部备案/许可证编号: 沪ICP备14043661号 </p>
                <p>Copyright©2014 www.caimiao.cn All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>